<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/views/shopping-online.png">
    <link rel="stylesheet" href="http://font.googleapis.com/css?family=Roboto : 300, 300italic, 700, 700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/miligram/1.4.1/miligram.min.css">

</head>