<html>
    <head>
        <title>Motor de plantilla EJS</title>
        <link rel="shortcut icon" href="https://icon-icons.com/es/icono/archivos-servidor/11594">
        <meta charset="utf-8">
    </head>
    <body>
        <h1><%= message %></h1>
    </body>
</html>